/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.formulario{
    margin: 50px auto;
    height: 100%;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgb(244, 223, 223);
    border: none;
}
.form-control{
    border: none;
}
.logo{
    color: rgb(244, 223, 223);
    text-decoration: none;
    text-decoration-line: none;
    align-items: center;
}
.input{
    margin: 20px;
    border: none;
}
.navbar{
    background-color: rgb(36, 35, 41);
}
#footer{
    background-color:  rgb(36, 35, 41);
}
.dibujo{
    color: rgb(244, 223, 223);
}
.btnNavbar{
    background-color:  rgb(236, 241, 243);
    border-width: 1px;
    
}
.imagen{
    max-width: 60%;
    object-fit: cover;
}

